:root
{
   --editor-color:orangered;
   --editor-background:black;
}

*{
   box-sizing: border-box;
   position: relative;
   margin: 0;
   padding: 0;
   user-select: none;
}

html,body{
  width: 100%;
  height: 100%;
}

svg.icon{
  width: 100%;
  height: 100%;
}

.icon{
  cursor: pointer;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
 
}